@model SideOffice.Infra.CrossCutting.Identity.Models.RoomViewModel.RoomViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RoomViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room_id" class="control-label"></label>
                <input asp-for="Room_id" class="form-control" />
                <span asp-validation-for="Room_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Square_meters" class="control-label"></label>
                <input asp-for="Square_meters" class="form-control" />
                <span asp-validation-for="Square_meters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hour_price" class="control-label"></label>
                <input asp-for="Hour_price" class="form-control" />
                <span asp-validation-for="Hour_price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Has_wifi" /> @Html.DisplayNameFor(model => model.Has_wifi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Has_ethernet" /> @Html.DisplayNameFor(model => model.Has_ethernet)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Has_tv" /> @Html.DisplayNameFor(model => model.Has_tv)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Has_webcam" /> @Html.DisplayNameFor(model => model.Has_webcam)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Has_air_conditioning" /> @Html.DisplayNameFor(model => model.Has_air_conditioning)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
